@charset "utf-8";

@import url(reset.css);

@font-face {
    font-family: 'Handon3gyeopsal600g';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container {
    position: relative;
}

.section2 {
    position: relative;
    background-color: #f3f3f3;
    padding:30px 20px;
    height: 100vh;
}
.section3 {
    position: relative;
    background-color: #fff;
    padding:30px 20px;
    height: 100vh;
}

.section4 {
    position: relative;
    background-color: #f5f5f5;
    padding:30px 20px;
    height: 100vh;
}

.aboutwrap {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
}

.aboutmeWorkEx,
.aboutmeSkills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.aboutmeSkills {
    gap: 13%;
}

.workList {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

.firstEx,
.secondEx {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: normal;
}

.firstEx .workDuration,
.secondEx .workDuration {
    margin: 30px 0px;
    color: #ff6a70;
    font-size: 1.15rem
}
.skillsEx .workDuration,
.studyEx .workDuration {
    margin: 30px 0px;
    color: #ff6a70;
    font-size: 1.15rem
}
.skillsEx .workList,
.studyEx .workList {
    margin-top: 100px;
}
.section2 h3,
.section3 h3,
.section4 h3 {
    color: #ff6a70;
    padding: 30px 20px 10px 40px;
}

.section4 h4{
    padding: 20px 20px 20px 40px;
}

.firstExCicle,
.secondExCicle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    color: #ff6a70;
    border: 2px dashed #ff6a70;
}

.secondExCicle {
    font-size: 1.75rem;
    text-align: center;
}

.aboutmeSkills .firstExCicle,
.aboutmeSkills .secondExCicle{
    font-size: 2rem;
    background-color: #ff6a70;
    color: #fff;
}

.pp_preview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.pp_preview li {
    position: relative;
    width: 30%;
    min-height: 350px;
    max-height: 350px;
}

.pp_preview li .backgroundImg {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
}


.pp_preview li.first_pp .backgroundImg {
    background-image: url('../images/responsive.png');
}

.pp_preview li.second_pp .backgroundImg {
    background-image: url('../images/html5.png');
}

.pp_preview li.third_pp .backgroundImg {
    background-image: url('../images/html4.png');
}

.pageLinkTag {
    display: block;
    width: 100%;
    height: 100%;
}

.pageLinkText {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    color: #fff;
    transition: all 0.5s ease;
    opacity: 0;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    z-index: 999
}

.pageLinkText:hover {
    opacity: 1;
}


.before_btn {
    overflow: hidden;
    width: 50%;
    text-align: center;
    font-family: '';
    height: 40px;
    margin: auto;
    font-size: 15px;
    transition: all ease 1s;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    border: 1px solid #871de2;
    font-family: 'Baloo Bhai'
}

.before_btn::after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.s;
    transform-origin: top left;
    width: 0;
    background-color: #222
}

.before_btn:hover:after {
    width: 135%;
}

.before_btn,
.before_btn::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.before_btn {
    background: none;
    border-radius: 5px;
    color: #000;
    display: block;
    font-size: 15px;
    position: relative;
}

.before_btn:hover {
    color: #fff;
}